
ul.navbar-left li {
  list-style: none;
  margin-top: 12px;
  margin-left: 30px;
  color: rgb(35, 41, 211);
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
}

ul.navbar-left li span {
  list-style: none;
  margin-top: 12px;
  margin-left: 10px;
  color: rgb(35, 41, 211);
  font-size: 0.6em;
  font-family: 'Open Sans', sans-serif;
}

ul.navbar-right {
  list-style: none;
  margin-top: 12px;
  color: rgb(35, 41, 211);
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
}

/*nav.navbar {
  background-color: rgb(231, 229, 249);
}*/
